@import "colors";

.cups {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;

  .cup {
    position: relative;

    padding-left: 1.6rem;

    .quantity {
      font-size: 0.75rem;
    }
    
    b {
      font-size: 0.75rem;
      color: $green;

      &.empty {
        color: #fc122c;
      }
    }

    .ml {
      font-size: 0.75rem;
      padding-left: 0.25rem;
    }
  }

  .cup::after {
    content: "";
    position: absolute;
    top: calc(50% - 0.6rem);
    bottom: 0;
    left: 0.41rem;

    width: 1rem;
    height: 1rem;

    background-image: url("../images/drink.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }

  .cup--small {
    &::after {
      top: calc(50% - 0.5rem);
      left: 0.5rem;
      width: 0.85rem;
      height: 0.85rem;
    }
  }
}

<<<<<<< HEAD
.price {
  display: flex;
  position: relative;

  // display: flex;
  align-self: center;
=======
.board {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
>>>>>>> 21e8e39b8ea4c8fef3238a79c5988f78061acb7a
  box-sizing: border-box;
  width: 13rem;
  height: 3.4rem;

  text-align: center;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    bottom: 1.1rem;

    width: 100%;

    border-bottom: 0.1rem solid #000000;
  }
}

.price {
  display: flex;
  align-self: center;

  font-size: 2rem;
  .currency {
    font-weight: bold;
    color: $green;
  }
}


.name {
  padding-top: 0.1rem;

  font-size: 0.75rem;
  text-align: center;
}
