@import "colors";

.machine-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: $lightgray;
}

.machine {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.machine__cup {
  position: relative;

  width: 7rem;
  height: 8rem;
  margin: 0 4rem;
  padding-top: 1rem;

  border: 0.3rem solid $lightgray;
  border-top: 0.1rem solid transparent;
  border-radius: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 0 0 0 0.3rem $darkgray;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 2rem);
    right: -2.4rem;

    width: 1.5rem;
    height: 3.5rem;

    border: 0.3rem solid $darkgray;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }

  .machine__fill {
    position: relative;

    width: 100%;
    height: 100%;
    overflow: hidden;

    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;

    .water {
      position: relative;
      z-index: 2;

      width: 100%;
      height: 100%;

      background: $coffee;
      transform: translate(0, 100%);

      transition: all 0.3s;

      &_wave {
        position: absolute;
        bottom: 100%;

        width: 200%;

        &_back {
          right: 0;

          animation: wave-back 1.4s infinite linear;

          fill: $green;
        }

        &_front {
          left: 0;

          margin-bottom: -1px;

          animation: wave-front 0.7s infinite linear;

          fill: $coffee;
        }
      }
    }
  }
}

.drinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3.4rem;

  font-size: 0.75rem;
  text-align: center;
  color: $lightgray;
  text-transform: uppercase;

  background-image: url("../images/coffe-pattern.jpg");
  background-size: cover;
  border: 0.1rem solid $darkgray;
  border-radius: 0.4rem;
  cursor: pointer;

  &:hover {
    border-color: $green;
  }

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }
}
