@import "colors";
@import "utils";

.machine-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: $lightgray;
}

[disabled] {
  border-color: red;
  &::after {
    filter: grayscale(1);
  }
}

.machine {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 34rem;

  .machine__box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12rem;
    height: 12rem;
    margin: 0 2rem;

    border-radius: 0.75rem;
  }

  .machine__counter {
    position: absolute;
    bottom: 0.4rem;
    z-index: 10;

    display: block;
    width: 100%;

    font-size: 1.5rem;
    text-align: center;
    color: $lightgray;
  }
}

.machine__cup {
  position: relative;
  z-index: 1;

  width: 7rem;
  height: 8rem;

  background-color: transparent;
  border: 0.3rem solid $lightgray;
  border-top: 0.1rem solid transparent;
  border-radius: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 0 0 0 0.3rem #000000;

  transition: transform 0.5s;

  -webkit-appearance: none;

  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 2rem);
    right: -1.8rem;

    width: 1.5rem;
    height: 4rem;

    border: 0.3rem solid #000000;
    border-top-right-radius: 0.75rem;
    border-bottom-right-radius: 0.75rem;
  }

  &--filled {
    box-shadow: 0 0 0 0.3rem $green;
    cursor: pointer;

    &::before {
      border-color: $green;
    }

    .machine__counter {
      color: $green;
    }
  }

  &--waited {
    animation-name: waited;
    animation-duration: 1.5s;

    &::before {
      animation-name: waited2;
      animation-duration: 1.5s;
    }
  }

  &--error {
    box-shadow: 0 0 0 0.3rem #fc122c;

    &::before {
      border-color: #fc122c;
    }

    .machine__counter {
      color: #fc122c;
    }
  }

  .machine__fill {
    position: relative;

    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-top: 1rem;
    overflow: hidden;

    border-bottom-right-radius: 0.4rem;
    border-bottom-left-radius: 0.4rem;

    .water {
      position: relative;
      z-index: 2;

      width: 100%;
      height: 100%;

      background: $coffee;
      transform: translate(0, 110%);

      transition-duration: 2s;
      transition-property: all;

      &_wave {
        position: absolute;
        bottom: 100%;

        width: 200%;

        &_back {
          right: 0;

          animation: wave-back 1.4s infinite linear;

          fill: $green;
        }

        &_front {
          left: 0;

          margin-bottom: -1px;

          animation: wave-front 0.7s infinite linear;

          fill: $coffee;
          stroke: $coffee;
        }
      }
    }
  }
}

.drinks {
  z-index: 10;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  background-color: $lightgray;
}

.drink {
  position: relative;
  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 9rem;
  height: 3.4rem;
  overflow: hidden;

  font-size: 0.75rem;
  text-align: center;
  color: $lightgray;
  text-transform: uppercase;

  background-color: #000000;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;

  transition-duration: 0.2s;
  transition-property: border-color, filter;

  -webkit-appearance: none;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;

    box-sizing: border-box;
    width: 100%;
    height: 100%;

    background-color: transparent;
    background-image: url("../images/coffe-pattern.jpg");
    background-size: cover;
  }

  &:not([disabled]):hover {
    border-color: $green;
    cursor: pointer;
  }

  &:not(:last-of-type) {
    margin-bottom: 0.5rem;
  }

  &.selected {
    border-color: $green;
  }
}

.machine__info {
  display: flex;
  width: 9rem;
  height: 3.4rem;
}
