@import "colors";

@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}

@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}

@keyframes waited {
  0%,
  50% {
    box-shadow: 0 0 0 0.3rem #000000;
    transform: scale3d(1.1, 1.1, 1.1);
  }
  25%,
  75% {
    box-shadow: 0 0 0 0.3rem $green;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes waited2 {
  from,
  to {
    border-color: $green;
  }
  0%,
  50% {
    border-color: #000000;
  }
  25%,
  75% {
    border-color: $green;
  }
}



