@keyframes colorSpin {
  25% {
    background-position: 0 100%;
  }
  50% {
    background-position: 100% 100%;
  }
  75% {
    background-position: 100% 0;
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  border-radius: 0.75rem;
  background: linear-gradient(45deg, #ffffff 50%, #F5F5F6 50%);
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}
.container .container__about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 92vw;
  box-sizing: border-box;
  border-bottom: 0.75rem solid #414142;
  padding: 2rem 1rem;
  margin: 0;
}
.container .container__about .container__block {
  width: 30%;
}
.container .container__about .container__block h3 {
  border-bottom: 0.1rem solid #414142;
  font-weight: 800;
  color: #19bb4f;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 1rem;
}
.container .container__about .container__block .contacts-list {
  padding-left: 3rem;
  margin: 0;
}
.container .container__about .container__block .contacts-list__item {
  position: relative;
  font-weight: 400;
  letter-spacing: 0.05rem;
}
.container .container__about .container__block .contacts-list__item:not(:last-of-type) {
  margin-bottom: 0.25rem;
}
.container .container__about .container__block .contacts-list__item::after {
  position: absolute;
  content: "";
  width: 1rem;
  height: 1rem;
  background-color: #19bb4f;
  left: -2rem;
  top: calc(50% - 0.5rem);
}
.container .container__about .container__block--main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .container__about .container__block--main .container__image-wrap {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  z-index: 1;
  overflow: hidden;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}
.container .container__about .container__block--main .container__image-wrap img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin: 0 auto;
}
.container .container__about .container__block--main .container__image-wrap::after, .container .container__about .container__block--main .container__image-wrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 10.5rem;
  height: 10.5rem;
  border-radius: 50%;
  z-index: -1;
}
.container .container__about .container__block--main .container__image-wrap::after {
  background: radial-gradient(circle, #19bb4f, transparent);
  background-size: 400%;
  animation: colorSpin 10s linear infinite;
}
.container .container__about .container__block--main .container__image-wrap::before {
  background-color: #19bb4f;
}
.container .container__about .container__block--main h1 {
  font-weight: 400;
  text-align: center;
  margin: 0.5rem 0;
}
.container .container__about .container__block--main h2 {
  font-size: 1.15rem;
  color: #19bb4f;
  text-transform: uppercase;
  margin: 0;
}
.container .container__info {
  width: 92vw;
  box-sizing: border-box;
  border-bottom: 0.75rem solid #414142;
  padding: 3rem 1rem;
}
.container .container__info .container__block h2 {
  width: 30vw;
  font-size: 1.15rem;
  color: #19bb4f;
  text-align: center;
  text-transform: uppercase;
  border-bottom: 0.1rem solid #414142;
  margin: 0 auto;
}
.container .container__info .container__block .epxerience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 1rem;
  margin-top: 1.5rem;
}
.container .container__info .container__block .experience-list__item {
  width: 40vw;
}
.container .container__info .container__block .experience-list__item h3 {
  font-size: 1rem;
  color: #414142;
  text-transform: uppercase;
  text-align: right;
  margin: 0;
}
.container .container__info .container__block .experience-list__item p {
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
  margin: 0.75em 0 0;
}
.container .container__info .container__block .experience-list__item--main {
  width: 100%;
}
.container .container__info .container__block .experience-list__item--main h3 {
  text-align: center;
}
.container .container__info .container__block .experience-list__item--main p {
  width: 60vw;
  font-size: 0.75rem;
  font-weight: 400;
  text-align: center;
  margin: 0.5rem auto 0;
}
.container .container__info .container__block .experience-list__item--company {
  margin: 1.5rem 0;
}
.container .container__info .container__block .experience-list__item--company h3 {
  letter-spacing: 0.15rem;
}
.container .container__info .container__block .experience-list__item--company h3 a {
  color: #19bb4f;
  text-decoration: none;
}
.container .container__info .container__block .experience-list__item--company:nth-of-type(2n-1) h3,
.container .container__info .container__block .experience-list__item--company:nth-of-type(2n-1) p {
  text-align: left;
}

.container__header img {
  display: block;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  box-shadow: 0 0 30px 10px rgba(0, 172, 57, 0.75);
  margin: 0 auto 1rem;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 92vw;
  box-sizing: border-box;
  padding: 2rem 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.form p {
  width: 75%;
  min-height: 8rem;
  box-sizing: border-box;
  border: none;
  border-top: 0.1rem solid #414142;
  border-bottom: 0.1rem solid #414142;
  padding: 4rem 0;
  text-align: center;
  color: #414142;
  background-color: #ffffff;
  margin: 2.25rem;
}
.form p:hover {
  border-color: #414142;
}
.form p:focus {
  border-color: #19bb4f;
  outline: none;
}
.form button {
  display: block;
  min-height: 2rem;
  width: 30%;
  padding: 0;
  border: 0.1rem solid #19bb4f;
  border-radius: 0.15rem;
  font: 1rem "Roboto", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  color: #ffffff;
  background-color: #19bb4f;
  transition: background-color 0.3s;
  cursor: pointer;
}
.form button:hover, .form button:focus {
  color: #19bb4f;
  background-color: #ffffff;
  outline: none;
}
.form label {
  font-size: 0.75rem;
  color: #414142;
}

.form-container__logo-block {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  z-index: 1;
  box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
  margin-top: 1.25rem;
}
.form-container__logo-block .form-container__logo {
  display: block;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
}
.form-container__logo-block::after, .form-container__logo-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  z-index: -1;
}
.form-container__logo-block::after {
  background: radial-gradient(circle, #19bb4f, transparent);
  background-size: 400%;
  animation: colorSpin 10s linear infinite;
}
.form-container__logo-block::before {
  background-color: #19bb4f;
}

.form-container__title {
  position: relative;
  font-size: 2rem;
  font-weight: 400;
  color: #414142;
  letter-spacing: -1.5px;
  margin: 0;
}
.form-container__title::after {
  position: absolute;
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  background-image: url("../images/arrow.svg");
  background-size: 1.25rem;
  background-repeat: no-repeat;
  background-position: center;
  left: calc(50% - 1.25rem / 2);
  bottom: -1rem;
}

html {
  font: 2vw "Roboto", sans-serif;
}

body {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container-wrapper {
  display: flex;
  align-items: center;
  min-height: 100vh;
  box-sizing: border-box;
  padding: 4vw;
  background: linear-gradient(45deg, #19bb4f 50%, #414142 50%);
}

/*# sourceMappingURL=style.css.map */
