@media (max-width: 810px) {
  @keyframes colorSpin {
    25% {
      background-position: 0 100%;
    }
    50% {
      background-position: 100% 100%;
    }
    75% {
      background-position: 100% 0;
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  @-webkit-keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0;
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
      opacity: 1;
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  @keyframes bounceIn {
    from, 20%, 40%, 60%, 80%, to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
    0% {
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
      opacity: 0;
    }
    20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
    }
    40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
    }
    60% {
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
      opacity: 1;
    }
    80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
    }
    to {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
      opacity: 1;
    }
  }
  .bounceIn {
    -webkit-animation-name: bounceIn;
    animation-name: bounceIn;
    -webkit-animation-duration: 1.25s;
    animation-duration: 1.25s;
  }

  .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    overflow: hidden;
    border: 0 !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }

  .container__about {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 2.5rem 0;
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .container__about .container__block {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .container__about .container__block .contacts-list {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .container__about .container__block .contacts-list__item {
    margin-bottom: 0.75rem;
    padding-left: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
  .container__about .container__block .contacts-list__item:not(:nth-of-type(2n)) {
    flex: 0 50%;
  }
  .container__about .container__block .contacts-list__item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }
  .container__about .container__block .contacts-list__item a {
    position: relative;
    font-size: 1.25rem;
    color: #000000;
    text-decoration: none;
    transition: color 0.3s;
  }
  .container__about .container__block .contacts-list__item a:hover {
    color: #19bb4f;
    transition: color 0.3s;
  }
  .container__about .container__block .contacts-list__item a .icon {
    position: absolute;
    top: calc(50% - 1rem);
    left: -2.1rem;
    width: 2rem;
    height: 2rem;
    fill: #19bb4f;
    stroke: #19bb4f;
  }
  .container__about .container__block .contacts-list__item--github a .icon {
    top: calc(50% - 0.8rem);
    left: -1.9rem;
    width: 1.6rem;
    height: 1.6rem;
  }
  .container__about .container__block .container__description {
    order: 2;
    width: 100%;
    text-align: center;
  }
  .container__about .container__block .container__description h2 {
    font-weight: 400;
    font-size: 1.25rem;
    color: #000000;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
  .container__about .container__block .container__description h2 b {
    color: #19bb4f;
  }
  .container__about .container__block .container__description h2 span {
    color: #414142;
  }
  .container__about .container__block--about {
    order: 2;
    width: 70%;
    margin-bottom: 2rem;
  }
  .container__about .container__block--contacts {
    order: 3;
    width: 82%;
  }
  .container__about .container__block--main {
    order: 1;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container__about .container__block--main .container__image-wrap {
    position: relative;
    z-index: 1;
    width: 18rem;
    height: 18rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .container__about .container__block--main .container__image-wrap img {
    display: block;
    width: 17rem;
    height: 17rem;
    border-radius: 50%;
  }
  .container__about .container__block--main .container__image-wrap::after, .container__about .container__block--main .container__image-wrap::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
  }
  .container__about .container__block--main .container__image-wrap::after {
    background: radial-gradient(circle, #19bb4f, transparent);
    background-size: 400%;
    animation: colorSpin 10s linear infinite;
  }
  .container__about .container__block--main .container__image-wrap::before {
    background-color: #19bb4f;
  }

  .container__info {
    box-sizing: border-box;
    padding: 0 1rem 2.5rem;
    border-bottom: 0.75rem solid #414142;
  }
  .container__info h2 {
    width: 10rem;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    color: #19bb4f;
    text-transform: uppercase;
    border-bottom: 0.1rem solid #414142;
  }
  .container__info .epxerience-list {
    margin-top: 1.5rem;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .container__info .experience-list__item h3 {
    font-size: 1rem;
    color: #414142;
    text-transform: uppercase;
  }
  .container__info .experience-list__item p {
    margin-top: 0.75rem;
    font-weight: 400;
    font-size: 1rem;
  }
  .container__info .experience-list__item--main {
    width: 100%;
  }
  .container__info .experience-list__item--main h3 {
    font-size: 1.5rem;
    text-align: center;
  }
  .container__info .experience-list__item--main p {
    margin: 0.5rem auto 0;
    font-weight: 400;
    font-size: 1rem;
    text-align: center;
  }
  .container__info .experience-list__item--companies {
    width: 100%;
    margin: 1.5rem 0;
  }
  .container__info .experience-list__item--companies .companies-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item {
    width: 100%;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item h3 {
    font-size: 1.25rem;
    text-align: left;
    letter-spacing: 0.15rem;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item h3 a {
    position: relative;
    color: #19bb4f;
    text-decoration: none;
    transition: color 0.2s;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item h3:hover svg {
    transition: fill 0.2s;
    fill: #19bb4f;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item h3:hover a {
    color: #414142;
    transition: color 0.2s;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(2n-1) h3 {
    text-align: right;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(2n-1) h3 svg {
    position: absolute;
    top: calc(50% - 0.9rem);
    left: -2.2rem;
    width: 1.8rem;
    height: 1.8rem;
    transition: fill 0.2s;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(2n-1) p {
    text-align: right;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(2n) h3 {
    text-align: left;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(2n) h3 svg {
    position: absolute;
    top: calc(50% - 1.3rem);
    right: -2.5rem;
    width: 2.6rem;
    height: 2.6rem;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(2n) p {
    text-align: left;
  }
  .container__info .experience-list__item--companies .companies-list .companies-list__item:nth-of-type(n+2) {
    margin-top: 1.5rem;
  }

  .container-wrapper {
    box-sizing: border-box;
    padding: 0.5rem;
    overflow: hidden;
    background: linear-gradient(45deg, #19bb4f 50%, #414142 50%);
  }

  .container {
    background: linear-gradient(45deg, #ffffff 50%, #f5f5f6 50%);
    border-radius: 0.75rem;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
  }

  .form-container {
    position: relative;
    box-sizing: border-box;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .form {
    flex-wrap: nowrap;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .form textarea {
    box-sizing: border-box;
    width: 100%;
    min-height: 8rem;
    margin: 2.25rem 0;
    padding: 4rem 0;
    text-align: center;
    border: none;
    border-top: 0.1rem solid #414142;
    border-bottom: 0.1rem solid #414142;
    resize: none;
    -webkit-appearance: none;
  }
  .form textarea:hover {
    border-color: #414142;
  }
  .form textarea:focus {
    border-color: #19bb4f;
    outline: none;
  }
  .form button {
    display: block;
    width: 60%;
    min-height: 2rem;
    padding: 0;
    font: 1rem "Roboto", sans-serif;
    font-weight: 500;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: 1.25px;
    background-color: #19bb4f;
    border: 0.1rem solid #19bb4f;
    border-radius: 0.15rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .form button:hover, .form button:focus {
    color: #19bb4f;
    background-color: #ffffff;
    outline: none;
  }
  .form label {
    font-size: 0.75rem;
    color: #414142;
  }

  .form-container__logo-block {
    position: relative;
    z-index: 1;
    width: 2.5rem;
    height: 2.5rem;
    margin-top: 1.25rem;
    border-radius: 50%;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  .form-container__logo-block .form-container__logo {
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: 0.4s;
    fill: #ffffff;
  }
  .form-container__logo-block::after, .form-container__logo-block::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
  }
  .form-container__logo-block::after {
    background: radial-gradient(circle, #19bb4f, transparent);
    background-size: 400%;
    animation: colorSpin 10s linear infinite;
  }
  .form-container__logo-block::before {
    background-color: #19bb4f;
  }
  .form-container__logo-block:hover .form-container__logo {
    width: 2.25rem;
    height: 2.25rem;
    transition: 0.4s;
  }

  .form-container__title {
    position: relative;
    font-weight: 400;
    font-size: 2rem;
    color: #414142;
    letter-spacing: -1.5px;
  }
  .form-container__title .icon {
    position: absolute;
    bottom: -1rem;
    left: calc(50% - 1.25rem / 2);
    width: 1.25rem;
    height: 1.25rem;
  }

  html {
    font: 4vw "Roboto", sans-serif;
  }

  body {
    margin: 0;
  }

  h1,
h2,
h3 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  p {
    margin: 0;
  }
}

/*# sourceMappingURL=style.css.map */
