@import "../colors";
@import "../mixins";

.container__about {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 2.5rem 0;

  border-radius: 0.75rem;

  @include flex(column, space-between);

  .container__block {
    @include flex(column);

    .contacts-list {
      // IE 11
      width: 100%;

      @include flex(row);
    }

    .contacts-list__item {
      margin-bottom: 0.75rem;
      padding-left: 1.5rem;

      font-weight: 400;
      text-transform: uppercase;
      letter-spacing: 0.05rem;

      &:not(:nth-of-type(2n)) {
        flex: 0 50%;
      }

      &:nth-last-child(-n+2) {
        margin-bottom: 0;
      }

      a {
        position: relative;

        font-size: 1.25rem;
        color: #000000;
        text-decoration: none;

        transition: color 0.3s;

        &:hover {
          color: $green;

          transition: color 0.3s;
        }

        .icon {
          position: absolute;
          top: calc(50% - 1rem);
          left: -2.1rem;

          width: 2rem;
          height: 2rem;

          fill: $green;
          stroke: $green;
        }
      }
    }

    .contacts-list__item--github {
      a {
        .icon {
          top: calc(50% - 0.8rem);
          left: -1.9rem;

          width: 1.6rem;
          height: 1.6rem;
        }
      }
    }

    .container__description {
      order: 2;
      // IE 11
      width: 100%;

      text-align: center;

      h2 {
        font-weight: 400;
        font-size: 1.25rem;
        color: #000000;
        text-transform: uppercase;
        letter-spacing: 0.05rem;

        b {
          color: $green;
        }

        span {
          color: $darkgray;
        }
      }
    }
  }

  .container__block--about {
    order: 2;
    width: 70%;
    margin-bottom: 2rem;
  }

  .container__block--contacts {
    order: 3;
    width: 82%;
  }

  .container__block--main {
    order: 1;
    margin-bottom: 2rem;

    @include flex(column, center);

    .container__image-wrap {
      position: relative;
      z-index: 1;

      width: 18rem;
      height: 18rem;
      overflow: hidden;

      border-radius: 50%;
      box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);

      @include flex(row, center);

      img {
        display: block;
        width: 17rem;
        height: 17rem;

        border-radius: 50%;
      }

      &::after,
      &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;

        border-radius: 50%;
      }

      &::after {
        background: radial-gradient(circle, $green, transparent);
        background-size: 400%;

        animation: colorSpin 10s linear infinite;
      }

      &::before {
        background-color: $green;
      }
    }
  }
}
