html {
  font: 2vw "Roboto", sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 50rem;
}

.board {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 40rem;
  height: 15rem;
}

.bank {
  display: flex;
  flex-direction: column;
  align-items: center;

  box-sizing: border-box;
  width: 12rem;
  min-height: 15rem;

  padding: 1rem;


  box-shadow: 0.1rem 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  background-color: #ffffff;

  cursor: pointer;
  transition: 0.25s;
}

.bank:nth-of-type(2n) {
  transform: scale(1.1);
}

.bank:not(:nth-of-type(2n)):hover {
  transform: scale(1.05);

  transition: 0.25s;
}

.bank h1 {
  font-size: 1.4rem;
  font-weight: 400;

  margin: 0;
  border-bottom: 0.1rem solid #000000;
}

.bank img {
  width: 2rem;

  margin: 0.5rem 0 0.2rem;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.info h2 {
  font-size: 1.25rem;

  margin: 0;
}

.info .percent {
  font-size: 1.75rem;

  padding: 0.25rem 0;
}

.info .term {
  font-size: 0.65rem;
  color: #414142;
}

.calculator {
  display: flex;
  align-items: center;

  width: 40rem;
  height: 15rem;
}

.calculator .fields {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 8rem;
}

.calculator .field {
  position: relative;
  margin: 0;
}

.calculator .field ul {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;

  padding: 0;
  margin: 0;
  list-style: none;
  

  border-radius: 0.25rem;
  border: none;
  border: 0.05rem solid #19bb4f;
  background-color: #ffffff;

  z-index: 5;
}

.calculator .field li {
  width: 100%;
  height: 1.75rem;
  text-align: center;

  font-size: 0.5rem;
}


.calculator .field:not(:last-of-type) {
  margin-bottom: 0.5rem;
}

.calculator .fields input {
  box-sizing: border-box;
  width: 100%;
  height: 1.75rem;
  padding: 0.8rem 0.5rem 0.5rem;

  border-radius: 0.25rem;
  border: none;

  font-size: 0.5rem;
  color: #000000;
  border: 0.05rem solid #f5f5f6;
}

.calculator .fields label {
  position: absolute;
  width: calc(100% - 0.5rem);
  top: 0.1rem;
  left: 0.5rem;

  color: #414142;
  font-size: 0.4rem;
}


.calculator .fields input:read-only {
  cursor: pointer;
}

.calculator .fields input:read-only + label::after {
  position: absolute;
  content: '';

  width: 1rem;
  height: 1rem;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9d/Arrow-down.svg");
  background-size: 1rem;
  background-repeat: no-repeat;
  background-position: center;

  top: 0.35rem;
  right: 0.25rem;
}

.calculator .fields input:not(:last-of-type) {
  margin-right: 2rem;
}

.calculator .fields input:focus,
.calculator .fields input:active {
  border-color: #000000;
  background-color: #ffffff;

  outline: none;
}