@import "../colors";

.container-wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 2rem;

  background: linear-gradient(45deg, $green 50%, $darkgray 50%);
}

.container {
  background: linear-gradient(45deg, #ffffff 50%, $lightgray 50%);
  border-radius: 0.75rem;
  box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}
