@keyframes wave-front {
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes wave-back {
  100% {
    transform: translate(50%, 0);
  }
}
.machine__options {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 0.5rem;
}
.machine__options [disabled] {
  filter: grayscale(1);
}
.machine__options .additional {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-sizing: border-box;
  width: 9rem;
  height: 3.4rem;
  overflow: hidden;
  font-size: 0.75rem;
  text-align: center;
  color: #f5f5f6;
  text-transform: uppercase;
  background-color: #000000;
  background-size: cover;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
  border-radius: 0.3rem;
  transition-duration: 0.2s;
  transition-property: border-color, filter;
  z-index: 2;
}
.machine__options .additional.selected {
  border-color: #19bb4f;
}
.machine__options .additional:not([disabled]):hover {
  border-color: #19bb4f;
  cursor: pointer;
}
.machine__options .additional::after {
  content: "";
  position: absolute;
  z-index: -1;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../images/coffe-pattern.jpg");
  background-size: cover;
}
.machine__options .additional--raspberry::after {
  background-image: url("../images/raspberry-pattern.jpg");
}
.machine__options .additional--milk::after {
  background-image: url("../images/milk-pattern.png");
}
.machine__options .pay {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3.4rem;
  font-size: 0.75rem;
  text-align: center;
  color: #f5f5f6;
  text-transform: uppercase;
  background: linear-gradient(170deg, #19bb4f, #2b7337);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: filter 0.2s;
}

.machine__about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 0.5rem;
}
.machine__about [disabled] {
  filter: grayscale(1);
}
.machine__about .reset {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3.4rem;
  font-size: 0.75rem;
  text-align: center;
  color: #f5f5f6;
  text-transform: uppercase;
  background: linear-gradient(147deg, #db0201, #b73a5d);
  border-radius: 0.4rem;
  transition: 0.2s;
  transition-property: filter, border-color;
}
.machine__about .reset:not([disabled]):hover {
  border-color: #19bb4f;
  cursor: pointer;
}
.machine__about .pay {
  transition: filter 0.2s;
}
.machine__about .pay span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9rem;
  height: 3.4rem;
  font-size: 0.75rem;
  text-align: center;
  color: #f5f5f6;
  text-transform: uppercase;
  background: linear-gradient(170deg, #19bb4f, #2b7337);
  border: none;
  border-radius: 0.4rem;
  cursor: pointer;
}

.machine-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f6;
}

[disabled] {
  border-color: red;
}
[disabled]::after {
  filter: grayscale(1);
}

.machine {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 34rem;
}
.machine .machine__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12rem;
  height: 12rem;
  margin: 0 2rem;
  border-radius: 0.75rem;
}
.machine .machine__counter {
  position: absolute;
  bottom: 0.4rem;
  z-index: 10;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  color: #f5f5f6;
}

.machine__cup {
  position: relative;
  width: 7rem;
  height: 8rem;
  border: 0.3rem solid #f5f5f6;
  border-top: 0.1rem solid transparent;
  border-radius: 0.75rem;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  box-shadow: 0 0 0 0.3rem #000000;
}
.machine__cup::before {
  content: "";
  position: absolute;
  top: calc(50% - 2rem);
  right: -1.8rem;
  width: 1.5rem;
  height: 4rem;
  border: 0.3rem solid #000000;
  border-top-right-radius: 0.75rem;
  border-bottom-right-radius: 0.75rem;
}
.machine__cup .machine__fill {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-top: 1rem;
  overflow: hidden;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}
.machine__cup .machine__fill .water {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 100%;
  background: #2e191a;
  transform: translate(0, 110%);
  transition: all 2s;
}
.machine__cup .machine__fill .water_wave {
  position: absolute;
  bottom: 100%;
  width: 200%;
}
.machine__cup .machine__fill .water_wave_back {
  right: 0;
  animation: wave-back 1.4s infinite linear;
  fill: #19bb4f;
}
.machine__cup .machine__fill .water_wave_front {
  left: 0;
  margin-bottom: -1px;
  animation: wave-front 0.7s infinite linear;
  fill: #2e191a;
}

.drinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.drink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 9rem;
  height: 3.4rem;
  overflow: hidden;
  font-size: 0.75rem;
  text-align: center;
  color: #f5f5f6;
  text-transform: uppercase;
  background-color: transparent;
  transition-duration: 0.2s;
  transition-property: border-color, filter;
  z-index: 1;
  -webkit-appearance: none;
  border: 0.1rem solid #000000;
  border-radius: 0.4rem;
}
.drink::after {
  box-sizing: border-box;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-image: url("../images/coffe-pattern.jpg");
  background-size: cover;
  z-index: -1;
}
.drink:not([disabled]):hover {
  border-color: #19bb4f;
  cursor: pointer;
}
.drink:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.drink.selected {
  border-color: #19bb4f;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  outline: none;
}

html {
  font: 2vw "Roboto", sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.none {
  display: none;
}

/*# sourceMappingURL=style.css.map */
