@import 'colors';

.container-wrapper {
    display: flex;
    align-items: center;

    min-height: 100vh;

    box-sizing: border-box;
    padding: 2rem;

    background: linear-gradient(45deg, $green 50%, $darkgray 50%);
}

.container {
    border-radius: 0.75rem;

    background: linear-gradient(45deg, #ffffff 50%, $lightgray 50%);
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);
}

