@import 'colors';

.container {
    border-radius: 0.75rem;

    background-color: #ffffff;
    box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);

    .container__about {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;

        width: 92vw;

        box-sizing: border-box;
        border-bottom: 0.75rem solid $darkgray;

        padding: 2rem 1rem;

        margin: 0;

        .container__block {
            width: 30%;

            h3 {
                border-bottom: 0.1rem solid $darkgray;

                font-weight: 800;
                color: $green;
                text-align: center;
                text-transform: uppercase;

                margin: 0 0 1rem;
            }

            .contacts-list {
                padding-left: 3rem;
                margin: 0;
            }

            .contacts-list__item {
                position: relative;

                font-weight: 400;
                letter-spacing: 0.05rem;

                &:not(:last-of-type) {
                    margin-bottom: 0.25rem;
                }

                &::after {
                    position: absolute;
                    content: '';

                    width: 1rem;
                    height: 1rem;
                    background-color: $green;

                    left: -2rem;
                    top: 0;
                }
            }
        }

        .container__block--main {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .container__image-wrap {
                position: relative;

                display: flex;
                align-items: center;
                justify-content: center;
                width: 10.5rem;
                height: 10.5rem;
                border-radius: 50%;


                z-index: 1;
                overflow: hidden;
                box-shadow: 2px 4px 20px rgba(0, 0, 0, 0.5);

                img {
                    display: block;
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;

                    margin: 0 auto;
                }

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;

                    width: 10.5rem;
                    height: 10.5rem;

                    border-radius: 50%;

                    z-index: -1;
                }

                &::after {
                    background: radial-gradient(circle, $green, transparent);
                    background-size: 400%;

                    animation: colorSpin 10s linear infinite;
                }

                &::before {
                    background-color: $green;
                }
            }

            h1 {
                font-weight: 400;
                text-align: center;

                margin: 0.5rem 0;
            }

            h2 {
                font-size: 1.15rem;
                color: $green;
                text-transform: uppercase;

                margin: 0;
            }
        }
    }

    .container__info {
        width: 92vw;

        box-sizing: border-box;
        border-bottom: 0.75rem solid $darkgray;
        padding: 2rem 1rem;

        .container__block {
            h2 {
                width: 30vw;

                font-size: 1.15rem;
                color: $green;
                text-align: center;
                text-transform: uppercase;
                border-bottom: 0.1rem solid $darkgray;

                margin: 0 auto;
            }
        }
    }
}




.container__header {
    img {
        display: block;

        width: 10rem;
        height: 10rem;
        border-radius: 50%;

        box-shadow: 0 0 30px 10px rgba(0, 172, 57, 0.75);

        margin: 0 auto 1rem;
    }


}