@import 'colors';

.container__info {
    width: 92vw;

    box-sizing: border-box;
    border-bottom: 0.75rem solid $darkgray;
    padding: 2.5rem 1rem;

    .container__block {
        h2 {
            width: 30vw;

            font-size: 1.15rem;
            color: $green;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 0.1rem solid $darkgray;

            margin: 0 auto;
        }

        .epxerience-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            padding: 0 1rem;

            margin-top: 1.5rem;
        }

        .experience-list__item {
            width: 40vw;

            h3 {
                font-size: 1rem;
                color: $darkgray;
                text-transform: uppercase;
            }

            p {
                font-size: 1rem;
                font-weight: 400;

                margin-top: 0.75rem;
            }
        }

        .experience-list__item--main {
            width: 100%;

            h3 {
                text-align: center;
            }

            p {
                width: 30rem;

                font-size: 0.75rem;
                font-weight: 400;
                text-align: center;

                margin: 0.5rem auto 0;
            }
        }

        .experience-list__item--company {
            margin: 1.5rem 0;

            &:nth-child(2n) {
                h3 {
                    text-align: right;

                    svg {
                        position: absolute;

                        width: 1.2rem;
                        height: 1.2rem;

                        top: calc(50% - 0.6rem);
                        left: -1.5rem;

                        fill: #000000;
                        transition: fill 0.2s;
                    }
                }

                p {
                    text-align: right;
                }
            }

            &:nth-child(2n-1) {
                h3 {
                    text-align: left;

                    svg {
                        position: absolute;

                        width: 1.7rem;
                        height: 1.7rem;

                        top: calc(50% - 0.85rem);
                        right: -1.6rem;
                    }
                }

                p {
                    text-align: left;
                }
            }

            h3 {
                letter-spacing: 0.15rem;

                a {
                    position: relative;

                    color: $green;
                    text-decoration: none;

                    transition: color 0.2s;
                }


                &:hover {
                    svg {
                        fill: $green;

                        transition: fill 0.2s;
                    }

                    a {
                        color: $darkgray;

                        transition: color 0.2s;
                    }
                }
            }
        }
    }
}