// Importing styles 
@import 'utils';
@import 'cv';
@import 'form';

html {
    font: 2vw "Roboto", sans-serif;
}

body {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

.container-wrapper {
    padding: 4vw;

    background-color: $green;
}