@import 'colors';

html {
    font-size: 2vw;
}

body {
    margin: 0;
}

.container-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    width: 100vw;
}

.container {
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 30vw;
    width: 35vw;
    min-height: 300px;
    min-width: 350px;

    box-sizing: border-box;

    padding: 4vw;

    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;

    input {
        width: 100%;

        box-sizing: border-box;
        border: none;
        border-bottom: 2px solid $lightgray;

        font: 1rem "Roboto", sans-serif;
        text-align: center;

        transition: border-color 0.3s;

        &:not(:last-of-type) {
            margin-bottom: 1rem;
        }

        &::placeholder {
            color: $darkgray;
        }

        &:hover {
            border-color: $darkgray;
        }

        &:focus {
            border-bottom: 2px solid $green;
            outline: none;

            &::placeholder {
                color: transparent;
            }
        }
    }

    button {
        display: block;

        min-height: 3vw;
        width: 80%;

        padding: 0;
        border: 2px solid $green;
        border-radius: 0.15rem;

        font: 1rem "Roboto", sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1.25px;

        color: #ffffff;
        background-color: $green;
        cursor: pointer;
        transition: background-color 0.3s;

        margin-top: 1.5rem;

        &:hover,
        &:focus {
            color: $green;
            background-color: #ffffff;
            outline: none;
        }
    }
}

.container__logo-block {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    bottom: calc(4vw - 1.25rem);

    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;

    background-color: $green;

    .container__logo {
        display: block;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;


        box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
    }
}
